@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
body {
  color: black;
  background-color: white;
  margin: 0 auto;
  font-size: 16px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

/* anchor text */

a {
  /* display: inline; */
  text-decoration: none;
  /* color: dodgerblue; */
}

/* a:visited {
  color: dodgerblue;
}

a:hover {
  display: inline;
  color: #ff8c00;
  transition: .2s;
}

a:active {
  color: #ff8c00;
} */

/* header */

.top-left {
  font-size: 30px;
  text-align: center;
}

/* navbar */

.transparent {
  background-color: rgba(0, 0, 0, 0);
  /* display: flex; */
  align-items: center;
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  vertical-align: middle;
}

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

nav>.nav-link>a:hover {
  display: block;
  /* font-weight: bold; */
  transition: .1s;
  text-decoration: none;
}

/* nav a::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 0 10px;
}
 */

button {
  margin: 0 10px;
}

h6 {
  text-align: right;
}

.darknav {
  background-color: #333;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 900;
}

/* section */

section {
  display: block;
}

/* Video */

.container-media {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background: #333;
  object-fit: cover;
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
}

.inner-container {
  justify-content: center;
  /* align-items: center; */
  z-index: 100;
  padding: 50px 30px;
  width: 100%;
}

.mediabg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.media-fade {
  opacity: .5;
}

video {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}

.textOnVid {
  color: white;
  z-index: 100;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 110px 0px;
}

/* Self-Service Stall Picture */

@media screen and (min-width: 800px) {
  .textOnVid>header>h1 {
    font-size: 80px;
  }
  .howitworks>h1 {
    font-size: 60px;
  }
  .howitworks {
    font-size: 35px;
  }
  .confirmationpage p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .mobile-nav {
    font-size: 20px;
    background-color: #333333;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 900;
  }
  .btn {
    margin-bottom: 5px;
  }
  .confirmationhead {
    font-size: 25px;
  }
  .quote{
    display:none;
  }
}

.pic1 {
  background-image: url("images/photo-1534683251650-3fd64cd1561a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textOnPic {
  color: white;
  display: flex;
  z-index: 100;
  position: absolute;
  top: 20px;
  width: 100%;
  height: 100%;
}

ol {
  text-align: left;
}

/* Pick a stall */

.stall {
  padding: 60px 0;
  color: #ffffff;
  text-align: center;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
}

.container1 {
  margin: 50px 0 0 0;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(161, 161, 161);
}

.pic-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#pickStall select {
  padding: 12px;
  margin: 0 0 2% 0;
  border-radius: 2px;
  width: 70%;
  color: #333333;
  border-style: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

#pickStall input[type="submit"] {
  width: 70%;
}

#pickStall input[type=submit]:hover {
  background-color: #666666;
  color: #ffffff;
}

/* USER DASHBOARD */

.container-map {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 70vh;
  background: #333;
  object-fit: cover;
  background-size: 100% auto;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
}

.map {
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.map iframe {
  margin-top: -40px;
  width: 100%;
  height: 70vh;
  border: none;
  z-index: 1;
}

section {
  background-color: #333333;
}

/* Table */

.table-container {
  height: 90vh;
}

.my-custom-scrollbar {
  position: relative;
  height: 70vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.stallList {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.tabletitle {
  text-align: center;
  color: #ffffff;
  padding: 30px;
}

.table td, .table th {
  border-radius: 5px;
  vertical-align: middle;
}

.table th, .currentDonation {
  text-align: center;
}

/* Footer */

footer {
  padding: 10px;
  text-align: center;
  background-color: rgb(206, 206, 206);
}

footer p {
  margin: 0;
}

.stalldashrow {
  padding: 20px 0;
}

.stalldashrule {
  border-top: 1px solid #ffffff;
}

.pic2 {
  z-index: -1;
  background-image: url('images/woodentable.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stalldashtext {
  padding: 50px;
  color: white;
  width: 100%;
  height: 100%;
}



.confirmationpage {
  height: 86.5vh;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 110px 80px;
}

.confirmationpage small {
  margin-top: 10px;
  display: block;
}

.confirmationhead {
  color: black;
}

.confirmationrule {
  z-index: -1;
  margin-top: -35px;
  margin-bottom: 1.5rem;
}

h1>mark{
  background-color: #fff;
  }


.quote{
  text-align: center;
  padding: 120px;
}

.quote h1{
  font-size: 30px;
}

.quotebox1{
  z-index: 1;
  padding: 40px;
  border: 1px solid #000;
}